<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda Casas</title>
</head>
<body>
    <form action="/buscar/" method="GET">
    <table>
        <tr>
            <td> <input type="text" name="txt_casa"></td>
            <td><input type="submit" value="Buscando"></td>
            </td>
        </tr>
    </table>
</form>

<form action="/buscarPrecio/" method="GET">
    <table>
        <tr>
            <td>Ingrece Precio</td>
            <td> <input type="text" name="txt_precio"></td>
            <td><input type="submit" value="Buscar"></td>
            </td>
        </tr>
    </table>
</form>
</body>
</html>