<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>MODELO A MEDIDA</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">		
	    <link href="css/style.css" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>
	
	<body>
	
		<div class="wrapper">
		
			
			<header>
				
				<nav class="navbar navbar-default" role="navigation">
					<div class="container">
						
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
                            </button>
						</div>

						
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
                                <li><a href="index.html">Home</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Modelos <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="pormetraje.html">Por Metraje</a></li> 
										
									</ul>
								</li>
                                
							</ul>
						</div>
					</div>
				</nav>
			</header>
			
			
			<div class="banner" style="background-image: url(img/banner-gal.jpg)">
			<div class="container">
					
					
					
				</div>
			</div>
            <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">

            <div class="mu-title">
  
              <h2>Casas a Medida</h2>
            </div>

            <div class="mu-contact-content">
              <div class="row">

                <div class="col-md-6">
                   <a href="/busqueda_casas/">Buscar Casas</a><br>
    <a href="/formulario_ingreso/">Ingresar Casas</a><br>
    <a href="/formulario_eliminar/">eliminar_casa</a>
    
                  </div>
                </div>

                <div class="col-md-6">
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            
             
            
			
			<footer>
				<div class="container">
					<div class="social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
					<p><a>Contacto:</a> +569 9399 3891</p><p><a>Correo:</a> contacto@casasprefabricadas.cl</p>
					<p class="copy-right">Copyright &copy; 2020 <a href="#">Casas Pre-Fabricadas</a> | Diseñado por  : Franco Santander H , Todos los derechos reservados. </p>
				</div>
			</footer>

		</div>
		
		
		
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/respond.min.js"></script>
		<script src="js/html5shiv.js"></script>
		<script src="js/custom.js"></script>
	</body>	
</html>