<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingrese casa</title>
</head>
<body>
    <form action="/ingresar_casa/" method="GET">
    <table border="1">
        <tr>
            <td>Ingrese ciudad</td>
            <td><input type="text" name="txt_ciudad"></td>
        </tr>
        <tr>
            <td>Ingrese medidas</td>
            <td><input type="text" name="txt_medidas"></td>
        </tr>
        <tr>
            <td>Ingrese categoria</td>
            <td><input type="text" name="txt_categoria"></td>
        </tr>
        <tr>
            <td>Ingrese precio</td>
            <td><input type="text" name="txt_precio"></td>
        </tr>
        <tr>
            
            <td><input type="submit" name="btn_guardar" value="Guardar Casa"></td>
            <td></td>
        </tr>

    </table>
</form>
</body>
</html>